### PROXY #####################################################################

HTTP_PROXY=http://{username}:{password}@us.smartproxy.com:10000
HTTPS_PROXY=https://{username}:{password}@us.smartproxy.com:10000

### END #######################################################################
